<div class="container">
<nav class="navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <%= image_tag("observatory-logo.svg") %>
        <span>Observatory</span>
      </a>
    </div>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Sign In</a></li>    
      </ul>
  </div>
</nav>

<div class="row">
  <div class="col-sm-7">
    <h1 class=""><span>(re)</span>Discover News Radio</h1>
    <p>The smart way to find and listen to podcasts.</p>
    <div id="form-wrapper">
      <%= render "form" %>
      <small>* We promise no spam, cause we hate spam </small>
    </div><!-- /form -->
  </div><!-- /col -->
    <div class="col-sm-5">
    <%= image_tag("observatory-iphone.png") %>
  </div><!-- /col -->
</div><!-- /row -->


</div>
<!-- /container -->