<section id="main" style="background-image: url(<%= asset_url(Setting.cover_image.url) %>);">
  <div class="cover">
    <h1 class="cover-title">Prelauncher</h1>
    <h3 class="cover-subtitle">Start your prelaunch referral campaign to gather thousands of emails before you even launch your e-commerce website.</h3>
    <div id="form-wrapper">
      <%= render "form" %>
      <small>* We promise no spam, cause we hate spam </small>
    </div>
  </div>
</section>
