@import "partials/variables";

//FONTS
.primary-color {color: $primary-color;}
.primary-color-medium {color: $primary-color-medium;}
.primary-color-light {color: $primary-color-light;}

//BACKGROUNDS
.background-gradient{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#6621d7+0,7b2cbf+100 */
  background: #6621d7; /* Old browsers */
  background: -moz-linear-gradient(45deg,  #6621d7 0%, #7b2cbf 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg,  #6621d7 0%,#7b2cbf 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg,  #6621d7 0%,#7b2cbf 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6621d7', endColorstr='#7b2cbf',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

//OPACITY
.o1 {opacity:.1;}
.o2 {opacity:.2;}
.o3 {opacity:.3;}
.o4 {opacity:.4;}
.o5 {opacity:.5;}
.o6 {opacity:.6;}
.o7 {opacity:.7;}
.o8 {opacity:.8;}
.o9 {opacity:.9;}
.o10 {opacity: 1;}
