
.hidden {
  display: none;
}

.inline {
  display: inline;
}

.inline-block {
  display: inline-block;
}

.block {
  display: block;
}

.relative {
  position:relative;
}

.absolute {
  position: absolute;
}

.fixed {
  position: fixed;
}

.position-left {
  float:left;
}

.position-right {
  float:right;
}

.position-none {
  float: none;
}

.center {
  margin: 0 auto;
}

.pointer {
  cursor: pointer;
}

.full-width {
  width: 100%;
  max-width: 100%;
}
