// Colors
$primary-color: #6621D7;
$primary-color-medium: #C6BDD4;
$primary-color-light: #EEEAF2;

$positive-color: #5DBC70;
$negative-color: #D3000D;

$white: #FFF;
$black: #000;

// Add percentage of white to a color
@function tint($color, $percent){
  @return mix(white, $color, $percent);
}

// Add percentage of black to a color
@function shade($color, $percent){
  @return mix(black, $color, $percent);
}

// Typography
$font-family-1: "Proxima Nova", sans-serif;
$base-font-size: 16px;
$base-line-height: 1.5;
$base-color: #928E8E;
$base-link-color: $primary-color;
$base-link-hover-color: shade($primary-color, 15);

//Margins and spacing
$space: 1rem;
