@import "partials/variables";

.hero-text {
  margin-top: 26%;

  #new_user .form-control {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }
  #new_user .btn {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }
}

.subheading {
  font-size: $base-font-size*1.6;
  color: $primary-color-medium;
  font-weight: 100;
}
